<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
	<script type="text/javascript" src="/js-cast.js"></script>
	
	<script type="text/javascript" src="jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
	
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<div id="container">
		<div id="left_section"><!-- contains list of channels and a player -->
			<div id="channels_container">
				<div style="text-align: right;">
					<button id="refresh_button" style="font-size:xx-small;">Refresh</button>
				</div>
				<ul id="channel_list">
					<li>
						No Channels Available.
					</li>
				</ul>
			</div>
			<div id="player_container">
				<p id="play_start_time"></p>
				<p id="play_elapsed">00:00</p>
				<audio id="audio_player" src="" autoplay="autoplay" preload="none" controls="controls"></audio>
			</div>
		</div>
		
		<div id="right_section">
			<div>
				<button id="create_new_button" type="button" style="text-align:left;">Start Channel</button>
				<p id="start_time"></p>
				<p id="elapsed">00:00</p>
			</div>
			<hr />
			<div id="dialog" style="display: none;">
				<form id="create_new_form">
					<div class="form_row">
						<label for="name">Name:</label>
						<input type="text" name="name" />
					</div>
					<div class="form_row">
						<label for="desc">Description:</label>
						<input type="text" name="desc" />	
					</div>
					<div class="form_row">
						<input type="submit" value="create" />
						<input id="cancel_button" type="reset" value="cancel" />
					</div>					
				</form>
			</div>
			<div id="security_settings_container" style="display:none;">
			</div>	
		</div>
	</div>
</body>
</html>
